body{
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

p{
  color:#423F3E;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size:3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}


/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: white;
}


/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem !important;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family : "Monserrat-Light";
}


/* Title Section */
#title .container-fluid {
  padding: 3% 7% 3%;
  text-align: left;
}

/* Download Button */
.download-button{
  margin: 5% 3% 5% 0;
}


.title-image{
  width: 25%;
  transform:rotate(20deg);
  right:15%;
  position:absolute;
}

/* feature */

#features{
  position:relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-font{
  padding :5%;
}

.feature-icon{
  color: #FFADAD;
  margin-bottom: 1rem;
}


.feature-icon:hover{
  color: #FD6F96;
}


/* testimonial section */
#testimonials{
  background-color: #FFADAD;
}

.testimonial-image{
  width : 10%;
  border-radius: 50%;
  margin : 1rem;
}

.testimonial-text{
  font-size:3rem;
  font-weight: 700;
  line-height: 1.5;
}

#press{
  background-color: #FFADAD;
  padding-bottom: 3%;

}

.press-logo{
  width: 15%;
  margin : 20px 20px 15px;
}

/* pricing section */
#pricing{
  padding :100px;

}

.pricing-column{
  padding : 3% 2%;
}

.price-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}


/* cta */
#cta{
  padding-top: 2rem;
}

/* footer */
.footer-logo{
  width: 3%;
  margin-bottom: 1rem;
}


@media(max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position : static;
    transform :rotate(0);
    width: 90%;
  }
}
